.DS_Store

# Rust build artifacts
target/
**/target/

# Cargo local configuration
.cargo/

# Editor settings
.idea/
**/.idea/
.vscode/

# Environment files
.env
.env.*

# Misc logs
*.log

# Frontend dependencies
node_modules/
**/node_modules/

.local/db.sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal
